/* @import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Manrope";
    src: url("fonts/Manrope-Regular.ttf") format("truetype");
  }

  body {
    background-color: #f4f4f7;
  }
}
